body {
  font-size: 12px;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }
  a :hover {
    text-decoration: none; }

.fr {
  float: right; }

.fl {
  float: left; }

.color-celeste {
  color: #1ba8e3; }

.color-rojo {
  color: #df0101; }

.color-verde {
  color: #35aa47; }

.wrap {
  width: 100%;
  margin: 0 auto; }

.content {
  margin: 0 auto;
  width: 1152px; }
  .content h3 {
    font-size: 18px;
    margin: 12px 0px;
    font-weight: 400; }
  .content p {
    font-size: 13px; }

.border-bottom {
  border-bottom: 1px solid #d5d5d5; }

.header {
  width: 1152px;
  margin: 0 auto;
  height: 20px;
  padding: 10px 0px; }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header ul li {
      float: left;
      padding: 0px 15px; }
      .header ul li a {
        color: #6b6b6b;
        float: left;
        padding: 5px; }
      .header ul li span {
        color: #6b6b6b; }
      .header ul li:nth-child(1) {
        border-right: 1px solid #d5d5d5;
        padding-left: 0px; }
      .header ul li:nth-child(2) {
        padding-right: 15px; }
      .header ul li .icon {
        font-size: 20px;
        float: left; }

.navegacion {
  width: 1152px;
  margin: 0 auto;
  height: 35px;
  padding: 30px 0px; }
  .navegacion .navegacion-logo {
    width: 117px;
    float: left; }
    .navegacion .navegacion-logo img {
      width: 100%; }
  .navegacion .navegacion-menu {
    width: 850px;
    float: right;
    list-style: none;
    margin: 0;
    padding: 10px 0; }
    .navegacion .navegacion-menu li {
      float: left;
      color: #1f1c1c; }
      .navegacion .navegacion-menu li a {
        font-size: 14px;
        padding-bottom: 35px;
        padding: 40px 15px 35px 15px;
        text-decoration: none;
        color: #6b6b6b; }
        .navegacion .navegacion-menu li a:hover {
          color: #df0101;
          border-bottom: 3px solid #dc4e05;
          background-color: #fcfcfc; }
      .navegacion .navegacion-menu li:last-child a {
        color: #6b6b6b;
        border-left: 1px solid #d5d5d5;
        padding-left: 20px;
        margin-left: 10px;
        font-size: 20px;
        padding: 0px 15px; }
        .navegacion .navegacion-menu li:last-child a:hover {
          color: #df0101;
          border-bottom: none; }

.slider {
  background: #abafaf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #abafaf 0%, #b3bbc2 40%, #ccd3db 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #abafaf), color-stop(40%, #b3bbc2), color-stop(100%, #ccd3db));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #abafaf 0%, #b3bbc2 40%, #ccd3db 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #abafaf 0%, #b3bbc2 40%, #ccd3db 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #abafaf 0%, #b3bbc2 40%, #ccd3db 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #abafaf 0%, #b3bbc2 40%, #ccd3db 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abafaf', endColorstr='#ccd3db',GradientType=0 );
  /* IE6-9 */
  height: 410px; }
  .slider .slide {
    width: 1152px;
    margin: auto;
    /*padding: 10px 0px;*/ }
    .slider .slide .slide-descripcion {
      width: 460px;
      float: left;
      padding: 0px 20px; }
      .slider .slide .slide-descripcion h2 {
        text-align: center;
        font-size: 48px;
        line-height: 62px;
        font-weight: lighter;
        padding: 100px 0px 20px;
        color: #fff;
        text-transform: uppercase;
        margin: 0px; }
      .slider .slide .slide-descripcion p {
        text-align: center;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 10px;
        text-transform: uppercase;
        font-size: 17px;
        color: #fff;
        margin: 0 auto;
        width: 348px; }
      .slider .slide .slide-descripcion a {
        text-align: center;
        padding: 3px 5px;
        background: #6fc561;
        color: #fff;
        width: 140px;
        margin: 0 auto;
        height: 20px;
        margin-top: 30px;
        display: block;
        font-size: 15px;
        text-transform: uppercase; }
    .slider .slide img {
      width: 415px;
      display: inline-block;
      padding: 0px 100px;
      float: right; }

.servicios {
  height: 215px;
  margin-bottom: 20px; }
  .servicios .servicio {
    width: 340px;
    float: left;
    padding: 22px;
    margin-top: 60px; }
    .servicios .servicio span {
      float: left;
      padding: 0px 18px 0px 0px;
      font-size: 35px; }

.preview {
  background-color: #7c858e;
  padding: 12px 20px;
  height: 45px; }
  .preview h4 {
    color: #fff;
    float: left;
    font-size: 24px;
    padding: 7px 0px;
    margin: 0;
    font-weight: 400; }
  .preview a {
    float: right;
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    font-size: 15px; }
    .preview a span {
      padding: 0 11px 0 0;
      color: #fff;
      font-size: 25px;
      display: inline-block;
      float: left; }
    .preview a strong {
      float: left;
      padding: 5px 0; }

.works {
  height: 45px;
  margin-top: 30px; }
  .works .works-work {
    width: 274px;
    float: left;
    margin-left: 10px;
    position: relative; }
    .works .works-work:hover {
      background-color: #dc4e05;
      color: #fff; }
    .works .works-work:hover span {
      opacity: 1; }
    .works .works-work:first-child {
      margin-left: 0px;
      width: 300px; }
    .works .works-work header {
      float: left; }
      .works .works-work header a:hover span {
        background-color: rgba(233, 77, 28, 0.7); }
      .works .works-work header span {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 9px 15px;
        border-radius: 50%;
        font-size: 25px;
        color: #fff;
        position: absolute;
        opacity: 0;
        transition: all 1s; }
        .works .works-work header span.ion-link {
          left: 88px;
          top: 78px; }
        .works .works-work header span.ion-search {
          left: 150px;
          top: 78px; }
      .works .works-work header img {
        float: left; }
    .works .works-work footer {
      padding: 10px;
      float: left; }
      .works .works-work footer h4, .works .works-work footer p {
        margin: 0px; }

/*# sourceMappingURL=style.css.map */
