@import 'variables';
body{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;

    :hover{
        text-decoration: none;
    }
}

.fr{
    float: right;
}

.fl{
    float: left;
}
.wrap{
    width: 100%;
    margin: 0 auto;
}
.border-bottom{
    border-bottom: 1px solid #d5d5d5;
}

.header {
    width: 1152px;
    margin: 0 auto;
    height: 20px;
    padding: 10px 0px;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            float: left;
            padding: 0px 15px;
            a{
                color: $color_grey_oscuro;
                float: left;
                padding: 5px;
            }
            span{
                color: $color_grey_oscuro;
            }
            &:nth-child(1){
                border-right: 1px solid #d5d5d5;
            }
            &:nth-child(2){
                padding-right: 15px;
            }
            .icon{
                font-size: 20px;
                float: left;
            }
        }
    }
}

.navegacion{
    width: 1152px;
    margin: 0 auto;
    height: 35px;
    padding: 30px 0px;
    .navegacion-logo{
        width: 117px;
        float: left;
        img{
            width: 100%;
        }
    }
    .navegacion-menu{
        width: 850px;
        float: right;
        list-style: none;
        margin: 0;
        padding: 10px 0;
        li{
            float: left;
            color: #1f1c1c;
            a{
                font-size: 14px;
                padding-bottom: 35px;
                padding: 5px 15px 35px 15px;
                text-decoration: none;
                color: $color_grey_oscuro;
                &:hover{
                    color: $color_rojo;
                    border-bottom: 3px solid $color_naranja;
                }
            }
            &:last-child a{
                color: $color_grey_oscuro;
                border-left: 1px solid #d5d5d5;
                padding-left: 20px;
                margin-left: 10px;
                font-size: 20px;
                padding: 0px 15px;
                &:hover{
                    color: #df0101;
                    border-bottom: none;
                }
            }
        }
    }
}

.slider {
    background: #abafaf; /* Old browsers */
    background: -moz-linear-gradient(top,  #abafaf 0%, #b3bbc2 40%, #ccd3db 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abafaf), color-stop(40%,#b3bbc2), color-stop(100%,#ccd3db)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #abafaf 0%,#b3bbc2 40%,#ccd3db 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #abafaf 0%,#b3bbc2 40%,#ccd3db 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #abafaf 0%,#b3bbc2 40%,#ccd3db 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #abafaf 0%,#b3bbc2 40%,#ccd3db 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abafaf', endColorstr='#ccd3db',GradientType=0 ); /* IE6-9 */
    height: 410px;
    .slide{
        width: 1152px;
        margin: auto;
        /*padding: 10px 0px;*/
        .slide-descripcion {
            width: 460px;
            float: left;
            padding: 0px 20px;
            h2{
                text-align: center;
                font-size: 48px;
                line-height: 62px;
                font-weight: lighter;
                padding: 100px 0px 20px;
                color: #fff;
                text-transform: uppercase;
                margin: 0px;
            }
            p{
                text-align: center;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                padding: 10px;
                text-transform: uppercase;
                font-size: 17px;
                color: #fff;
                margin: 0 auto;
                width: 348px;
            }
            a{
                text-align: center;
                padding: 3px 5px;
                background: #6fc561;
                color: #fff;
                width: 140px;
                margin: 0 auto;
                height: 20px;
                margin-top: 30px;
                display: block;
                font-size: 15px;
                text-transform: uppercase;
            }
        }
        img{
            width: 415px;
            display: inline-block;
            padding: 0px 100px;
            float: right;
        }
    }
}

.servicios{
    margin: 0 auto;
    width: 1152px;
    height: 175px;
    .servicio{
        width: 340px;
        float: left;
        padding: 22px;
        margin-top: 60px;
        span{
            border-radius: 50%;
            border: 1px solid black;
            float: left;
            padding: 5px 10px;
            font-size: 24px;
        }
        h3{
        }
        p{
        }
    }
}